DATABASE_URL=postgresql://user:password@127.0.0.1:5433/cert_verifier
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

RPC_URL=
PRIVATE_KEY=
CONTRACT_ADDRESS=

MINIO_ENDPOINT=127.0.0.1:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=certificates
MINIO_SECURE=false
